
    <!-- League News -->
     <section id="league" class="intro-section">
         <h1 id="league-title"> <%= league %></h1>
         <!--ESPN-->
         <div class="card-deck-wrapper">
           <div class="card-deck">
             <div class="card">
               <br>
               <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/ESPN_wordmark.svg/2000px-ESPN_wordmark.svg.png", alt: "espn logo", class: "card-img-top img-fluid img-limit center-block" %>
               <div class="card-block">
                 <h4 class="card-header">Headlines</h4>
                 <%= render partial: 'card_text', collection: @espn_articles, as: :article %>
                 <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
               </div>
             </div>
             <!--Yahoo-->
             <div class="card">
               <br>
               <%= image_tag "http://sportsmediareport.net/wp-content/uploads/2015/12/Yahoo-Sports-Logo.jpg", alt: "yahoo logo", class: "card-img-top img-fluid img-limit center-block" %>
               <div class="card-block">
                 <h4 class="card-header">Headlines</h4>
                 <%= render partial: 'card_text', collection: @yahoo_articles, as: :article %>
                 <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
               </div>
             </div>
             <!--CBS-->
             <div class="card">
               <br>
               <%= image_tag "http://sports.cbsimg.net/images/blogs/cbs_sports_logo.JPG", alt: "cbs sports logo", class: "card-img-top img-fluid img-limit center-block" %>
               <div class="card-block">
                 <h4 class="card-header">Headlines</h4>
                 <%= render partial: 'card_text', collection: @cbs_articles, as: :article %>
                 <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
               </div>
             </div>
           </div>
     </section>



     <!-- Team News -->
     <section id="team" class="contact-section" style="padding-bottom: 100px">
         <div class="container">
             <div class="row">
                 <div class="col-lg-12">
                     <h1>Team News </h1>
                 </div>
             </div>
             <br><br><br><br><br><br>
         </div>
     </section>



 <!-- <h1>Scrolling Nav</h1>
 <p><strong>Usage Instructions:</strong> Make sure to include the <code>scrolling-nav.js</code>, <code>jquery.easing.min.js</code>, and <code>scrolling-nav.css</code> files. To make a link smooth scroll to another section on the page, give the link the <code>.page-scroll</code> class and set the link target to a corresponding ID on the page.</p>
 <a class="btn btn-default page-scroll" href="#about">Click Me to Scroll Down!</a> -->
