<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
  <h1> Choose favorite teams in each sport </h1>
  <%= form_for(@user, url: user_team_path, method: "patch") do |f| %>
    <%= f.label :user_teams, "NFL:" %>
    <%= f.collection_select :team_ids, @nfl_teams, :id, :team_name, {}, {multiple: true}%><br>
    <%= f.label :user_teams, "NBA:" %>
    <%= f.collection_select :team_ids, @nba_teams, :id, :team_name, {}, {multiple: true} %><br>
    <%= f.label :user_teams, "MLB:" %>
    <%= f.collection_select :team_ids, @mlb_teams, :id, :team_name, {}, {multiple: true} %><br>
    <%= f.label :user_teams, "NHL:" %>
    <%= f.collection_select :team_ids, @nhl_teams, :id, :team_name, {}, {multiple: true} %><br>
    <%= f.submit %>
  <% end %>

</div>
